<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post 폼 실습</title>
  </head>
  <body>
    <h1>Post 폼 실습</h1>

    <form action="/result2" method="post">
      <label for="username">이름</label>
      <input type="text" name="username" id="username" required />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="남자" required />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="여자" />
        <label for="female">여자</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for( let i = 0; i < 30; i++ ) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        년
        <select name="birthMonth" id="month">
          <% for( let i = 1; i <= 12; i++ ) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        월
        <select name="birthDay" id="day">
          <% for( let i = 1; i <= 31; i++ ) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        일
      </fieldset>
      <br />

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" value="여행" />여행
        <input type="checkbox" name="hobby" value="패션" />패션
        <input type="checkbox" name="hobby" value="음식" />음식
      </fieldset>
      <br />

      <fieldset>
        <legend>기타</legend>
        <label for="my-color">좋아하는 색상</label>
        <input type="color" name="myColor" id="my-color" />
        <br />
        <label for="my-number">좋아하는 숫자</label>
        <input type="number" name="myNumber" id="my-number" />
      </fieldset>
      <br />

      <button>회원가입</button>
    </form>
  </body>
</html>
